---
interface Props {
	title: string;
	company: string;
	duration: string;
	achievements: string[];
}

const { title, company, duration, achievements } = Astro.props;
---

<div class='experience-item border-l-2 border-accent/60 pl-6'>
	<h2 class='text-xl md:text-2xl font-semibold'>{title}</h2>
	<p class='text-sm text-muted mb-4'>{company} • {duration}</p>
	<ul class='list-disc list-inside space-y-2 text-sm text-muted'>
		{achievements.map((achievement) => <li>{achievement}</li>)}
	</ul>
</div>

